@media screen and (max-width: 1366px)and (min-width: 1024px) {
  .login{
    padding-left: 10%;
  }
}
@media screen and (max-width: 1023px) and (min-width: 681px) {
 .login{
   padding-left: 2%;
 }
}
@media screen and (max-width: 800px) {
  .hide-menu-btn, .show-menu-btn{
    display: block;
  }
  .show-menu-btn:hover{
    display: block;
    color:#E65100;
  }
  .hide-menu-btn:hover{
    display: block;
    color:#E65100;
  }
  .hide-menu-btn{
    color: white;
  }
  .menu{
    position: fixed;
    width: 50%;
    height: 100vh;
    background: rgb(31, 31, 31);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 9999;
  }
  .menu a{
    display: block;
    padding: 30px;
    color: white;
  }
  .menu a:hover{
    color: #E65100;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
  .login{
    display: none;
  }
  .login_small{
    display: block;
  }
}
@media screen and (max-width: 680px) {
  .login{
    display: none;
  }
  .login_small{
    display: block;
  }
}
