body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
input{
  color: black;
  border: 1px solid #828282;
  width: 270px;
  height: 30px;
  box-sizing: border-box;
  padding-left: 1%;
  margin-top: 1%;
}
.login_small{
  display: none;
}
.header{
  padding: 0 20px;
  top: 0;
  height: 100px;
  background: rgba(196, 196, 196, 0.4);
  color: #1A237E;
  z-index: 9999;
  width: 100%;
}
.logo{
  line-height: 60px;
  float: left;
  text-transform: uppercase;
}
.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  transition: 0.4s;
  color: #E65100;
}
.logo a:hover{
  transition: 0.4s;
  color: #E65100;
}


.show-menu-btn, .hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover{
  color: #1A237E;
}
.show-menu-btn:hover{
  color: #3498db
}
.hide-menu-btn:hover{
  color: #3498db
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
.main-content{
  margin-top: 2%;
  height: auto;
  padding-bottom: 3%;
}
.description p{
  font-size: 150%;
}
.password{
  margin-top: 6%;
}
.login{
  padding-left: 15%;
}
.btn_login{
  background-color: #F2994A;
  color: white;
  width: 206px;
  height: 38px;
  font-size: 130%;
  text-align: center;
  vertical-align: middle;
  margin-top: 6%;
  padding-top: 1.1%;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
}
.btn_login:hover{
  background-color: white;
  color: #F2994A;
  border: 1px solid #F2994A;
}
.registration_window{
  display: none;
  position: absolute;
  text-align: center;
  z-index: 9999;
  height: 420px;
  width: 500px;
  left: 50%;
  top: 50%;
  border: 1px solid black;
  border-radius: 15px 15px 15px 15px;
  padding-top: 1%;
  transform: translate(-50%,-50%);
  background:white;
}
.registration_window .btn_login{
  margin-left: 29%;
}
.phone{
  margin-left: 1.9%;
  width: 245px;
}
